@Html.Partial("_LayoutPartial")
<h1> About us </h1>
<p>
    We are able to design to new products customer's specification. If you need special product, please give us your drawing or your idea. We will design for you. Competitive prices and excellent service with a good reputation in the market. I trust you will be happy to cooperate with us.
</p>