@{
    ViewData["Title"] = "Home Page";
    Layout = "_LayoutMain";
}

<div class="text-center">
    <h1 class="display-4">Start Now</h1>
    <a href="/Categories/"> <button class="btn btn-info" style="text-align:center">Enter </button>  </a>


</div>