@Html.Partial("_LayoutPartial")

<div class="container text-center pt-5">


    <div class="card border-info mb-5" style="width: 300px; display: inline-block; background-color: #CBCDBB; padding: 40px">
        <div class="card-body">
            <h5 class="card-title">Sofa and Tabel</h5>
            <p class="card-text"> </p>
            <a href="/Furnitures/Index" class="btn btn-info">Enter</a>
        </div>


    </div>

    <div class="card border-info mb-5" style="width: 300px; display: inline-block; background-color: #CBCDBB; padding: 40px ">
        <div class="card-body">
            <h5 class="card-title">     Carpet    </h5>
            <p class="card-text"></p>
            <a href="/Furnitures/Carpet" class="btn btn-info">Enter</a>
        </div>
    </div>
</div>