@{
    var Furnitures = (List<Furniture>)ViewData["Furniture"];
}

@foreach (var item in Furnitures)
{
    <div class="custom-control-inline" style="padding:35px">
        <div class="card border-primary mb-5" style="width: 340px; height: 500px; display: inline-block; background-color: white; text-align: center ">
            <div class="card-header bg-transparent border-success">@item.Name</div>
            <div class="card-body text-success">
                <h5 class="card-title"><img src="@item.Image" width="200" height="200" /></h5>
                <p class="card-text">@item.Price SR</p>
            </div>
            <div class="card-footer bg-transparent border-success">

                <button class="btn btn-info">Add To Cart </button>
            </div>
        </div>
    </div>
}